body 
{
    background: linear-gradient(135deg, #f8f0e3, #d8c1a9);
}

header
{
    background-color: #4e3629; 
    color: white; 
    padding: 20px 0; 
    text-align: center; 
}

main 
{
    padding: 40px; 
    background-color: #fff8f0; 
    border-radius: 12px;
    max-width: 900px; 
    margin: 50px auto; 
}

ul li
 {
    background: #f5f0e1; 
    margin: 15px 0; 
    padding: 20px; 
    border-radius: 8px; 
    transition: transform 0.5s, background-color 0.5s; 
}

ul li:hover 
{
    background-color: #f1e0b6; 
    transform: translateY(-5px); 
}


.responsive-image 
{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

footer 
{
    text-align: center; 
    padding: 15px 0; 
    background-color: #f1f1f1;
}